<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Datos del departamento</title>
</head>
<body>
    <nav th:replace="~{/fragments.html::menu}"></nav>
    <h1>Datos del departamento</h1>
    <table class="table">
        <tr>
            <td>ID</td>
            <td th:text="*{departamento.id}"></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td th:text="*{departamento.nombre}"></td>
        </tr>
        <tr>
            <td>Presupuesto anual</td>
            <td th:text="${departamento.presupuesto}"></td>
        </tr>
    </table>
    <a class="btn btn-primary btn-block" th:href="@{/depto/edit/{id}(id=${departamento.id})}">Editar</a>
    <a class="btn btn-danger btn-block" th:href="@{/depto/delete/{id}(id=${departamento.id})}">Borrar</a> <a class="btn btn-primary btn-block" th:href="@{/}">Volver</a>
</body>
</html>