<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Edición de departamento</title>
</head>
<body>
    <nav th:replace="~{/fragments.html::menu}"></nav>
    <h1>Edición de departamento</h1>
    <form method="post" action="#" th:action="@{/depto/edit/submit}" th:object="${deptForm}">
    <table class="table">
        <tr>
            <td>ID</td>
            <td><input type="number" readonly id="disabledInput" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><input type="text" th:field="*{nombre}" required></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary btn-block" value="Confirmar"> <a class="btn btn-primary btn-block" th:href="@{/depto/}">Volver</a>
    </form>
    <div th:if="${error!=null}">
        <p class="alert alert-danger" th:text="${error}"></p>
    </div>
</body>
</html>